image: python:latest

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  paths:
    - .cache/pip
    - venv/

before_script:
  - python -V               # Print out python version for debugging
  - apt-get update && apt-get install -y --no-install-recommends gcc-multilib
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate
  - pip install coverage coverage-badge
  - pip install .

test:
  stage: test
  script:
    - coverage run test/run_tests.py
    - coverage html
    - coverage-badge -o htmlcov/coverage.svg
    - coverage report
  artifacts:
    paths:
      - htmlcov
